body {
  background-color: black;
  color: white;
}

header {
  border: solid 2px blue;
  background-color: red;
  width: 1280px;
  display: flex;
  color: white;
}

.header-logo img {
  width: 130px;
  cursor: pointer;
}

.characters-button,
.comics-button,
.favoris-button {
  color: white;
}

.characters-wrapper {
  border: solid 2px yellow;
  width: 1280px;
}

.characters {
  border: solid 1px cyan;
  /* display: flex; */
}

.characters-details {
  border: dotted 3px pink;
  display: flex;
}

.characters-photo {
  height: 200px;
  width: 200px;
  border-radius: 20px 0;
  border: red solid 3px;
}
